%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "AdminChurch"
      %meta{:content => content_for?(:description) ? yield(:description) : "AdminChurch", :name => "description"}
        = stylesheet_link_tag :application, :media => "all"
        = javascript_include_tag :application
        = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
        %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "#"} AdminChurch
        .nav-collapse.collapse
          %ul.nav
            %li.active
              %a{:href => "#"} Inicio
            %li
              %a{:href => "#about"} Sobre
            %li
              %a{:href => "#contact"} Contacto
                          
        %div.navbar-form.pull-right
          = link_to "Sign In", new_user_session_path, :class => "btn btn-success"
          = link_to "Sign Up", new_user_registration_path, :class => "btn btn-success"
      / /.nav-collapse
      %main{:role => "main"}
        .container
          .content
            .row
              .span12

                = yield